<p v-if="isLoading">Loading</p>
<h2>Shopping Cart</h2>
{{msg}}
<p v-if="!cart.length">No item in cart.</p>
<div class="cart">
  <div class="item" v-for="(item, index) in cart" v-bind:key="index">
    <div class="image">
      <a v-bind:href="item.url">
        <img v-bind:src="item.image" />
      </a>
    </div>
    <div class="info">
      <h4>{{ item.name }}</h4>
      <p class="seller">by {{ item.seller }}</p>
      <p class="status available" v-if="item.isAvailable">In Stock</p>
      <p class="shipping" v-if="item.isEligible">
        Eligible for FREE Shipping & FREE Returns
      </p>
      <a href="#" v-on:click="removeFromCart(index)">Delete</a>
      <a href="#" class="secondary" v-on:click="saveForLater(index)">Save for later</a>
    </div>
  </div>
</div>

<h2 class="saved-header">Saved for later ({{ saved.length }} item)</h2>
<div class="cart">
  <div class="item" v-for="(item, index) in saved" v-bind:key="index">
    <div class="image">
      <a v-bind:href="item.url">
        <img v-bind:src="item.image" />
      </a>
    </div>
    <div class="info">
      <h4>{{ item.name }}</h4>
      <p class="seller">by {{ item.seller }}</p>
      <p class="status available" v-if="item.isAvailable">In Stock</p>
      <p class="shipping" v-if="item.isEligible">
        Eligible for FREE Shipping & FREE Returns
      </p>
      <a href="#" v-on:click="removeFromSavedList(index)">Delete</a>
      <a href="#" class="secondary" v-on:click="moveToCart(index)">Move to cart</a>
    </div>
  </div>
</div>